BODY{
font-family: arial;
}
.tbl1{
width:100%;
border-collapse:collapse;
}
.tr1 td{
background:#000;
color: #fff;
border: 1px solid #fff;
word-wrap: wrap;
}
.tr2 td{
color: #000;
border: 1px solid #D2D2D2;
word-wrap: wrap;
}