@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Exo+2);
@font-face {
font-family: 'Baumarkt';
src:
    local('BAUMARKT'),
    url('../fonts/BAUMARKT.ttf');
}
@font-face {
font-family: 'Manteka';
src:
    local('manteka'),
    url('../fonts/manteka.ttf');
}
body{
//background:#ade82c;
}

.logodiv{
margin-top:5%;
}
.logo{
font-size: 60px;
font-family: Baumarkt;
color: #ade82c;
}
.img-logo{
width:75%;
height:100%;
}
.img-div{
background:white;
width:40%;
height:150px;
}
.loginform{
width: 300px;
height:200px;
margin-top:1%;
font-family: 'Slabo 27px', serif;
border-radius:2px;
}
.loginlabel{
width:100%;
font-size: 20px;
color:#44749d;
}
.logininput{
border-radius:2px;
border: 1px solid #dcdcdc;
width:100%;
height:35px;
font-family: 'Slabo 27px', serif;
font-size: 20px;
}
.footer{
background:#024405;
 position: bottom;
 margin-top:80px;
  bottom: 0;
  height: 25px;
  width: 100%;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;  
}
.footer a{
padding: 5px;
color: white;
//font-family:Manteka;
font-family: 'Exo 2', sans-serif;
text-decoration: none;
font-size:18px;
}
.footer a:hover{
background:#8bc60b;
}
.rc-button {
  min-width: 46px;
  width: 7%;
  text-align: center;
  color: #444;
  margin: 1% 0 1% 0;
  font-size: 100%;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  line-height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
  border-radius: 3px;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
  transition: all 0.218s;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	-o-transition: none;
	-moz-user-select: none;
	-webkit-user-select: none;
  user-select: none;
  cursor: default;
  }
  .rc-button-submit 
  {
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  }
  .rc-button-submit:hover {
  border: 1px solid #2f5bb7;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  }
  .rc-button-submit:active {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }
  .rc-button-red {
  border: 1px solid transparent;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  }
  .rc-button-red:hover {
  border: 1px solid #b0281a;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #c53727;
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  }
  .rc-button-red:active {
  border: 1px solid #992a1b;
  background-color: #b0281a;
  background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
  background-image: linear-gradient(top,#dd4b39,#b0281a);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }